<div class="row">
  <div class="col-12">
    <table class="table">
      <tbody>
        <tr *ngFor="let price of roomPrices">
          <th scope="row">
            <h6>{{price.currency.name}} ({{price.currency.symbol}})</h6>
          </th>
          <td>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Precio día</mat-label>
                <input matInput [(ngModel)]="price.day_price" min="1" step="any" type="number">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Precio hora</mat-label>
                <input matInput [(ngModel)]="price.hour_price" min="1" step="any" type="number">
            </mat-form-field>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-12 text-right">
      <button mat-button color="primary" type="button" (click)="_onCancel()" class="m-1">
          Cancelar
      </button>
      <button mat-flat-button type="button" (click)="_onSubmit()" color="primary" class="m-1">
          <mat-icon>save</mat-icon>
          Guardar
      </button>
  </div>
</div>