<div class="row">
  <div class="col-12">
    <app-breadcrumb [items]="['Monedas']" [active_item]="'Detalle'" [back_button]="true" [back_route]="'/currencies'"></app-breadcrumb>
  </div>
  <div class="col-12">
    <div class="card">
      <div class="card-header b-l-primary py-4 d-flex align-items-center w-100 justify-content-between">
        <h5 class="text-muted">Datos de moneda</h5>
        <button mat-icon-button (click)="showEditDialog()" matTooltip="Editar información">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
      <div class="card-body py-3">
        <mat-list *ngIf="currency">
          <mat-list-item class="h-auto my-2">
            <mat-icon mat-list-icon>done_all</mat-icon>
            <div mat-line class="font-weight-bold text-muted">Nombre</div>
            <div mat-line class="font-weight-normal">{{currency.name}}</div>
          </mat-list-item>
          <mat-list-item class="h-auto my-2">
            <mat-icon mat-list-icon>done_all</mat-icon>
            <div mat-line class="font-weight-bold text-muted">Nombre plural</div>
            <div mat-line class="font-weight-normal">{{currency.plural_name}}</div>
          </mat-list-item>
          <mat-list-item class="h-auto my-2">
            <mat-icon mat-list-icon>done_all</mat-icon>
            <div mat-line class="font-weight-bold text-muted">Codigo</div>
            <div mat-line class="font-weight-normal">{{currency.code}}</div>
          </mat-list-item>
          <mat-list-item class="h-auto my-2">
            <mat-icon mat-list-icon>done_all</mat-icon>
            <div mat-line class="font-weight-bold text-muted">Simbolo</div>
            <div mat-line class="font-weight-normal">{{currency.symbol}}</div>
          </mat-list-item>
          <mat-list-item class="h-auto my-2">
            <mat-icon mat-list-icon>done_all</mat-icon>
            <div mat-line class="font-weight-bold text-muted">Fecha de registro</div>
            <div mat-line class="font-weight-normal">{{currency.created_at | date:'dd MMM y HH:mm'}}</div>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
</div>