<div class="row">
  <div class="col-12">
      <!-- <app-breadcrumb [items]="['Cajas']" [active_item]="'Crear'" [back_button]="true" [back_route]="'/cash-registers'"></app-breadcrumb> -->
  </div>
  <div class="col-12">
    <div class="card">
        <div class="card-header b-l-primary py-4 d-flex align-items-center w-100 justify-content-between">
            <h5 class="text-muted">Crear caja</h5>
        </div>
        <div class="card-body py-3">
            <app-cash-register-form (onCancel)="onCancel()" (onSubmit)="onSubmit($event)"></app-cash-register-form>
        </div>
    </div>
  </div>
</div>
