<div class="row">
    <div class="col-12">
        <!-- <app-breadcrumb [items]="['Categorías de habitación']" [active_item]="'Crear'" [back_button]="true" [back_route]="'/room-categories'"></app-breadcrumb> -->
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-header b-l-primary py-4 d-flex align-items-center w-100 justify-content-between">
                <h5 class="text-muted">Crear categoría de habitación</h5>
            </div>
            <div class="card-body py-3">
                <app-room-category-form (onCancel)="onCancel()" (onSubmit)="onSubmit($event)"></app-room-category-form>
            </div>
        </div>
    </div>
</div>
