<div class="row">
    <div class="col-12">
        <!-- <app-breadcrumb [items]="['Monedas']" [active_item]="'Listar'"></app-breadcrumb> -->
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-header b-l-primary py-4 d-flex align-items-center w-100 justify-content-between">
                <h5 class="text-muted">Monedas</h5>
            </div>
            <div class="card-body py-3">
                <button mat-flat-button color="primary" routerLink="/currencies/create">
                    <mat-icon>add</mat-icon>
                    Crear
                </button>
                <app-list-data *ngIf="items.length > 0" [cols]="columns"
                    [items]="items"
                    [totalItems]="totalItems"
                    (pageEvent)="onChangePage($event)"></app-list-data>
            </div>
        </div>
    </div>
</div>
